<div class="login-wrapper">
	<form class="login">
		<label class="title">
			<h3 class="welcome">Tangent-Assignment</h3>
			Angular Front-end
		</label>

		<div class="login-group">
			<input
				[(ngModel)]="username"
				autofocus
				class="username"
				name="username"
				type="text"
				placeholder="Username">

			<input
				[(ngModel)]="password"
				class="password"
				name="password"
				type="password"
				placeholder="Password">

			<div class="checkbox">
				<input
					[(ngModel)]="remember"
					id="remember-me"
					name="remember-me"
					type="checkbox">

				<label for="remember-me">Rememer me?</label>
			</div>

            <div
            	*ngIf="errorMessage"
            	class="error active">
                {{ user.authenticationError | async }}
            </div>

			<button
				class="btn btn-primary"
				(click)="login(username,password,remember)">Login
			</button>

		</div>
	</form>
</div>