<div class="row">
	
	<div class="col-sm-4">
	    <div class="card">
	        
	        <div class="card-header">
	            {{ (userService.me|async)?.first_name }} {{ (userService.me|async)?.last_name }}
	        </div>
	        
	        <div class="card-block">
	            
	            <div class="card-media-block">    
	                <img src="{{userService.picture|async}}">

	                <div class="card-media-description">
	                    <span class="card-media-title">
		                    <clr-icon
		                    	*ngIf="(userService.me|async)?.is_superuser"
		                    	shape="administrator">	
		                    </clr-icon>

	              			{{ (userService.me|async)?.username }}
	                    </span>
	                    
	                    <span class="card-media-text">
	                        {{ (userService.me|async)?.email }}
	                    </span>
	                </div>
	            </div>

	        </div>
	
	        <div class="card-footer">
	            <button class="btn btn-sm btn-link">Action</button>
	        </div>
	
	    </div>
	</div>

</div>
